.head-wrapper{
    background-image: url('https://res.cloudinary.com/http-www-deathdousparties-com/image/upload/v1640149440/MM%20backgrounds/web-background-MMM_kvwc4p.png');
    background-repeat: repeat-y;
    background-size: auto;
    min-height: 100vh;
    height: auto;
    width: 100vw;
}



.character-desc-img{
    width: 90%;
    height: auto;
    margin: 20px auto 10px auto;
}