html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.splash-wrapper{
  background-color: lightgray;
  background-image: url(/src/images/bg.png);
  background-repeat: repeat-x;
  background-size: cover;
  min-height: 100vh;
  height: auto;
  width: 100%;
  font-family: apertura, sans-serif;
}

.banner{
  width: 100vw;
}


.death-image{
  position: absolute;
  height: auto;
  width: 300px;
  top: 150px;
  left: 10%;
  z-index: 2;
}

.splash-elements-wrapper{
  position: relative;
  top: 205px;
  z-index: 3;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  height: 250px;
  margin-left: 20%;

}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;
  width: 300px;
}

.name-container, .email-container{
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 20px;
}

.radio-container{
  display: flex;
  width: 200px;
  margin-right: 10px;
  margin-left: 20px;
}


.actual-input{
  width: 125px;
  border-color:#e5e8e2;
  background-color: #e5e8e2;
}

.actual-input-false{
  border-color: #c01823;
}

.radio-text{
  font-size: 3vw;
  width: 150px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.submit-button{
  margin-left: 33%;
  background-color: #e8e5e3;
  border-width: thin;
  border-color: #c01823;
  font-family: apertura, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.submit-button:hover{
  background-color: #c01823;
  color: #c01823;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.whatevs{
  font-size: 2vw;
  color: #c01823;
  margin-left: 85px;
  width: 150px;
  display: none;
}

.whatevs-false{
  display: inherit;
}

.radio-text-false{
  color: #c01823;
}

@media(min-width: 750px){

.death-image{
  height: auto;
  width: 500px;
  top: 210px;
  left: 20%;
  z-index: 2;
}

.splash-elements-wrapper{
 height: 400px;
 width: 500px;
 top: 290px;

}

.text-container{
  height: 250px;
  width: 450px;
  margin-left: 45px;
}

.name-container, .email-container{
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-left: 75px;
}

.radio-text{
  font-size: 2vw;
  width: 230px;
}

.radio-container{
  width: 400px;
  margin-left: 68px;
  margin-right: 0;
}

.submit-button{
  width: 100px;
  height: 35px;
  font-size: 2vw;
  margin-left: 39%;
}

.whatevs{
  margin-left: 110px;
  width: 170px;
  margin-left: 190px;
  font-size: 1.5vw;
}


}

@media (min-width: 1000px){

  .death-image{
    height: auto;
    width: 500px;
    top: 210px;
    left: 25%;
  }

  .text-container{
    margin-left: 0px;
  }
  
  .splash-elements-wrapper{
    margin-left: 29%;
    top: 260px;
    height: 330px;
  }

  .radio-text{
    font-size: 1.5vw;
  }

  .submit-button{
    width: 140px;
    height: 45px;
    margin-left: 30%;
  }
}

@media(min-width:1100px){
  .whatevs{
    font-size: 1vw;
  }
}
